/* this stylesheet is for JavaScript Quiz */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    color: blueviolet;
    height: 60px;
    font-size: 2vw;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
  }

  /* this style for header button */
.btnHeader {
    border-radius: 10px;
    background-color: white;
    text-decoration: none;
    border: 0;
    outline: 0; 
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* hover for header button */
.btnHeader:hover {

    background-color: pink;
        
}

/* style for general button */
.btn {
    border-radius: 12px;
    border: 0;
    outline: 0; /* Remove border around button */
    background-color: purple;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}


/* style for the main section of the quiz */
#page {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}



/* style for the items outside and inside the gridContainer */
#gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr 1fr; 
    grid-template-rows: repeat(10, 1fr); 
    gap: 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}

/* style for the questions */
#question {
    text-align: center;
    align-self: baseline;
    grid-column: 2 / span 2;
    grid-row: 1 / span 5;
    place-self: center;
    font-size: 30px;
}

/* style for the results */
#finalScoreDisplay {
    
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    font-size: 15px;
}


/* style for the validation of the scores based on the person's initials */
#enterInitials {
    
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
    font-size: 15px;
}


#enterInitialsTextArea {
    
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
    font-size: 15px;
    resize: none;
    
}

/* style for the score */
#submitScore {
    grid-column: 3 / span 1;
    grid-row: 7 / span 1;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    border: 0;
    outline: 0; 
    background-color: purple;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

/* style for the start part of the quiz and its answers */
#start-quiz {
    grid-column: 2 / span 2;
    grid-row: 5 / span 1;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    border: 0;
    outline: 0; 
    background-color: purple;
    place-self: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

#answer1 {
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    border: 0;
    outline: 0; 
    background-color: purple;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: 25px;
}

#answer2 {
    grid-column: 1 / span 2;
    grid-row: 7 / span 1;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    border: 0;
    outline: 0; 
    background-color: purple;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: 25px;
    margin-left: 25px;

}

#answer3 {
    grid-column: 1 / span 2;
    grid-row: 8 / span 1;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    border: 0;
    outline: 0; 
    background-color: purple;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: 25px;
}

#answer4 {
    grid-column: 1 / span 2;
    grid-row: 9 / span 1;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    border: 0;
    outline: 0; 
    background-color: purple;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: 25px;
}

#answer1:hover, #answer2:hover, #answer3:hover, #answer4:hover, #submitScore:hover{
    
    background-color: pink;
     
}

#answerCorrectWrong {
    display: grid;
    grid-template-columns: 4fr; 
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px 10px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;

}

#answerCorrectWrong {
    text-align: left;
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    
}


/* This media query will be applied on any screen smaller than 768px */
@media screen and (max-width: 768px) {

   
    #answer1:hover, #answer2:hover, #answer3:hover, #answer4:hover, #submitScore:hover{
        
        background-color: purple;
        
    }

    #question {
        font-size: 25px;
    }
    
    #answer1, #answer2, #answer3, #answer4 {
        grid-column: 2 / span 2;
    }
    
}

   /* This will be applied on any screen smaller than 575px */
@media screen and  (max-width: 575px) {

    #answer1:hover, #answer2:hover, #answer3:hover, #answer4:hover, #submitScore:hover{
        
        background-color: purple;
        
    }


    #mainDiv {
        margin-left: 5%;
        margin-right: 5%;
    }

    #question {
        grid-column: 2 / span 2;
        font-size: 15px;
    }
  

  }